pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
defusedxml
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-huggingface
torch
sentence-transformers
faiss-cpu
langchain-google-genai
pypdf
langchainhub